.button-group {
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
  }

  .active-pos {
    font-weight: bold;
  }

  .cont_img_ppal{
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .centrado{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }